.navigation nav {
    padding: 5px;
    color: rgb(255, 255, 255);
}
.navigation nav div{
    position: absolute;
    top: 0%;
    right: 0%;
}

.navigation nav h3 {
    color: white;
    margin-left: 20px;
    width: fit-content;
}

.principal {
    text-align: center;
}
.principal a h3:hover{
    cursor: pointer;
}

.main {
    margin: 10px;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.character {
    background: #000000;
    color: rgb(255, 255, 255);

    margin: 10px;
    width: 20%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    text-align: center;
}
.character img {
    border-radius: 6%;
}

.character h3 {
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 5px;
}

.pagination button {
    margin: 0 20px 0 20px;
    background-color: #00000000;
    border: none;
}
.pagination button:hover {
    cursor: pointer;
}

.details {
    margin-top: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}
.details h2{
    margin: 0;
}

.details img {
    border-radius: 15px;
    width: 50%;
}

.centered {
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .character {
        width: 40%;
    }
    .details  {
        flex-direction: column;
    }
    .details_info  {
        display: flex;
        margin-left: 20px;
        gap: 20px;
        justify-content: space-between;
    }
    .details img{
        width: 90%;
    }
}


